In [56]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

##### How will you read the following data into a pandas data frame ? ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt

In [58]:
df = pd.read_csv('/Users/onivron/Documents/co2_mm_mlo.csv', header=None)

##### How would you pick columns 0,1,3 ?

In [60]:
 df1 = df[[0, 1, 3]]

##### Use a for loop to find all rows where Co2 (column 3) enteries with the value -99.99 (these are missing values) and replace them with NaN values (try using np.nan - do you know what it is? )

In [62]:
for i in range(df1.shape[0]): 
    if df1.iloc[i, 2] == -99.99:
        print ('found one in row ' + str(i))
        df1.iloc[i, 2] = np.nan

found one in row 3
found one in row 7
found one in row 71
found one in row 72
found one in row 73
found one in row 213
found one in row 313

##### Change names of columns to year, month, and CO2 (use colnames)

In [64]:
df1.columns = ['Year', 'Month', 'CO2']

##### Add a column 'Day' and specifiy the day 15 for all enteries

In [66]:
df1['Day'] =15

##### Add a date column according to the 'year', 'month' and 'day' columns (options: use apply with lambda or for loop together with datetime.date (make sure to import it))

In [68]:

df1['date'] = pd.to_datetime((df1[['Year', 'Month', 'Day']]).apply(lambda x: \
                                                                 '-'.join([str(x['Year']), str(x['Month']), \
                                                                            str(x['Day'])]), axis = 1), format='%Y-%m-%d')

##### Drop the 'Day' column

In [70]:
df1 = df1.drop('Day', axis=1)

##### use pandas groupby to print the yearly avg. of co2 per year.

In [72]:
df1.groupby('Year').mean()['CO2']

Year
1958    315.331250
1959    315.974167
1960    316.907500
1961    317.637500
1962    318.450833
1963    318.994167
1964    319.204444
1965    320.044167
1966    321.383333
1967    322.157500
1968    323.045000
1969    324.624167
1970    325.680000
1971    326.320000
1972    327.453333
1973    329.676667
1974    330.185000
1975    331.162727
1976    332.040000
1977    333.831667
1978    335.403333
1979    336.841667
1980    338.751667
1981    340.105833
1982    341.447500
1983    343.054167
1984    344.451818
1985    346.116667
1986    347.420833
1987    349.194167
           ...
1990    354.394167
1991    355.607500
1992    356.445833
1993    357.100000
1994    358.833333
1995    360.820000
1996    362.606667
1997    363.729167
1998    366.700000
1999    368.377500
2000    369.550000
2001    371.142500
2002    373.279167
2003    375.802500
2004    377.522500
2005    379.795833
2006    381.896667
2007    383.791667
2008    385.604167
2009    387.430000
2010    389.899167
2011    391.652500
2012    393.853333
2013    396.520833
2014    398.647500
2015    400.834167
2016    404.239167
2017    406.553333
2018    408.521667
2019    411.290000
Name: CO2, Length: 62, dtype: float64

##### Pick columns that you think could be used to build a model and store them in numpy array (Answer why do we do that?)
##### repeat step (3) but this time using the np.where command.

In [ ]:
# we now use df

In [97]:
df.iloc[list(np.where(df.iloc[:, 3] == -99.99))[0], 3] = np.nan

In [98]:
df.iloc[:, 3]

0      315.71
1      317.45
2      317.50
3         NaN
4      315.86
5      314.93
6      313.20
7         NaN
8      313.33
9      314.67
10     315.62
11     316.38
12     316.71
13     317.72
14     318.29
15     318.15
16     316.54
17     314.80
18     313.84
19     313.26
20     314.80
21     315.58
22     316.43
23     316.97
24     317.58
25     319.02
26     320.03
27     319.59
28     318.18
29     315.91
        ...
702    401.05
703    401.59
704    403.55
705    404.45
706    406.17
707    406.46
708    407.22
709    409.04
710    409.69
711    408.88
712    407.12
713    405.13
714    403.37
715    403.63
716    405.12
717    406.81
718    407.96
719    408.32
720    409.41
721    410.24
722    411.24
723    410.79
724    408.71
725    406.99
726    405.51
727    406.00
728    408.02
729    409.07
730    410.83
731    411.75
Name: 3, Length: 732, dtype: float64