## Web Scraping The-Numbers Movie Budgets

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
import sqlite3
import matplotlib.pyplot as plt

MAX_PAGE = 5701
BASE_URL = 'https://www.the-numbers.com/movie/budgets/all/'

In [3]:
page = '1'
response = requests.get(BASE_URL + page)
response.status_code

200

In [5]:
soup = BeautifulSoup(response.text)

In [1]:
# print(soup.prettify())

In [8]:
tables = soup.find_all('table')
len(tables)

1

In [10]:
table = tables[0]

In [11]:
len(table.find_all('tr'))

101

In [12]:
len(table.find_all('th'))

6

In [13]:
for th in table.find_all('th'):
    print(th.text)

Â
Release Date
Movie
Production Budget
Domestic Gross
Worldwide Gross

In [14]:
headers = [th.text for th in table.find_all('th')]
print(headers)

['\xa0', 'Release Date', 'Movie', 'Production Budget', 'Domestic Gross', 'Worldwide Gross']

In [15]:
headers[0] = 'index'
print(headers)

['index', 'Release Date', 'Movie', 'Production Budget', 'Domestic Gross', 'Worldwide Gross']

In [22]:
rows = table.find_all('tr')
data = []
# pick a simple
row = rows[11]
# print(row)
for row in rows[1:]:
    data_row = []
    tds = row.find_all('td')
    # first element only has text
    data_row.append(tds[0].text)
    # second element inside of <a> tag
    data_row.append(tds[1].find('a').text)
    # let's also grab the link from the second element
    data_row.append(tds[1].find('a')['href'])
    # element 3
    data_row.append(tds[2].find('a').text)    
    # element 3 link
    data_row.append(tds[2].find('a')['href'])
    # fourth element only has text
    data_row.append(tds[3].text)
    # fifth element only has text
    data_row.append(tds[4].text)
    # sixth element only has text
    data_row.append(tds[5].text)
#     print(*data_row, sep='\n')
    data.append(data_row)
    
print(len(data))
print(*[len(row) for row in data], sep='\n')

100
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8

In [23]:
def process_page(soup):
    """
    Takes in a page from requests,
    outputs a list of lists (table format)
    """
    table = soup.find('table')
    rows = table.find_all('tr')
    data = []

    for row in rows[1:]:
        data_row = []
        tds = row.find_all('td')
        # first element only has text
        data_row.append(tds[0].text)
        # second element inside of <a> tag
        data_row.append(tds[1].find('a').text)
        # let's also grab the link from the second element
        data_row.append(tds[1].find('a')['href'])
        # element 3
        data_row.append(tds[2].find('a').text)    
        # element 3 link
        data_row.append(tds[2].find('a')['href'])
        # fourth element only has text
        data_row.append(tds[3].text)
        # fifth element only has text
        data_row.append(tds[4].text)
        # sixth element only has text
        data_row.append(tds[5].text)
        data.append(data_row)
    return data

In [34]:
from os.path import join
print(join(BASE_URL, '3'))

https://www.the-numbers.com/movie/budgets/all/3

In [35]:
from os.path import join
the_movies_data = []
for i in range(1, MAX_PAGE+1, 100):
    resp = requests.get(join(BASE_URL, str(i)))
    soup = BeautifulSoup(resp.text, 'html.parser')
    the_movies_data += process_page(soup)
    # same thing
    # the_movies_data.extend(process_page(soup))

print(len(the_movies_data))

5785

In [37]:
headers.insert(2, 'Release Date URL')
headers.insert(4, 'Movie URL')
print(headers)

['index', 'Release Date', 'Release Date URL', 'Movie', 'Movie URL', 'Production Budget', 'Domestic Gross', 'Worldwide Gross']

In [46]:
headers[0] = 'i'
print(headers)

['i', 'Release Date', 'Release Date URL', 'Movie', 'Movie URL', 'Production Budget', 'Domestic Gross', 'Worldwide Gross']

In [38]:
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

In [47]:
column_names = ','.join([header.replace(' ', '') + ' varchar\n' for header in headers])
print(column_names)

i varchar
,ReleaseDate varchar
,ReleaseDateURL varchar
,Movie varchar
,MovieURL varchar
,ProductionBudget varchar
,DomesticGross varchar
,WorldwideGross varchar

In [48]:
sql = """
CREATE TABLE movies ({col_names})
"""
cur.execute(sql.format(col_names=column_names))

In [51]:
cur.execute("select * from movies;")
cur.fetchall()

[('1',
  'Dec 18, 2009',
  '/box-office-chart/daily/2009/12/18',
  'Avatar',
  '/movie/Avatar#tab=summary',
  '$425,000,000',
  '$760,507,625',
  '$2,776,345,279')]

In [52]:
insert_sql = """
INSERT INTO movies VALUES (?, ?, ?, ?, ?, ?, ?, ?);
"""
# we've already insertedthe first row
for d in the_movies_data[1:]:
    cur.execute(insert_sql, d)

In [55]:
cur.execute("select Movie from movies limit 10 offset 5700;")
cur.fetchall()

[('The Night Visitor',),
 ('Tiger Orange',),
 ('The Last House on the Left',),
 ('The Foot Fist Way',),
 ('Dawn of the Crescent Moon',),
 ('Queen Crab',),
 ('Happy Christmas',),
 ('Peace, Propaganda and the Promised Land',),
 ('Absentia',),
 ('Pi',)]

In [57]:
pd.read_html('https://www.the-numbers.com/movie/budgets/all/401')

HTTPError: HTTP Error 403: Forbidden

In [59]:
resp.request.headers

{'User-Agent': 'python-requests/2.21.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [65]:
user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36'
user_agent = 'bogus'

In [66]:
headers = {'User-Agent': user_agent}
resp = requests.get('https://www.the-numbers.com/movie/budgets/all/401', headers=headers)

In [68]:
pd.read_html(resp.text)[0]

,Unnamed: 0,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,"Dec 25, 2015",Point Break,"$100,000,000","$28,782,481","$126,704,591"
1,2,"Dec 11, 2015",In the Heart of the Sea,"$100,000,000","$25,020,758","$89,693,309"
2,3,"Apr 18, 2014",Transcendence,"$100,000,000","$23,022,309","$103,039,258"
3,4,"Feb 18, 2005",Son of the Mask,"$100,000,000","$17,018,422","$59,918,422"
4,5,"Dec 14, 2018",Mortal Engines,"$100,000,000","$15,951,040","$85,287,417"
5,6,"Aug 16, 2002",The Adventures of Pluto Nash,"$100,000,000","$4,411,102","$7,094,995"
6,7,"Jan 20, 2012",Jin lÃÂ­ng shÃÂ­ san chai,"$100,000,000","$311,434","$98,227,017"
7,8,"Nov 6, 2015",The Peanuts Movie,"$99,000,000","$130,178,411","$250,091,610"
8,9,"Feb 8, 2019",The LEGO Movie 2: The Second Part,"$99,000,000","$105,806,508","$190,209,817"
9,10,"Nov 21, 2018",Robin Hood,"$99,000,000","$30,824,628","$84,747,441"
10,11,"May 4, 2001",The Mummy Returns,"$98,000,000","$202,007,640","$435,040,395"
11,12,"Dec 20, 2002",Gangs of New York,"$97,000,000","$77,730,500","$183,124,621"
12,13,"May 19, 2017",Alien: Covenant,"$97,000,000","$74,262,031","$238,521,247"
13,14,"Mar 13, 2015",Cinderella,"$95,000,000","$201,151,353","$534,551,353"
14,15,"Jul 13, 2012",Ice Age: Continental Drift,"$95,000,000","$161,321,843","$879,765,137"
15,16,"Dec 28, 2001",Black Hawk Down,"$95,000,000","$108,638,745","$159,691,085"
16,17,"May 27, 2010",Sex and the City 2,"$95,000,000","$95,347,692","$294,680,778"
17,18,"Feb 12, 2010",Percy Jackson & the Olympians: The Lightning T...,"$95,000,000","$88,768,303","$223,050,874"
18,19,"Aug 10, 2012",The Campaign,"$95,000,000","$86,907,746","$104,907,746"
19,20,"Nov 12, 2010",Unstoppable,"$95,000,000","$81,562,942","$165,720,921"
20,21,"May 9, 1997",The Fifth Element,"$95,000,000","$63,570,862","$263,898,761"
21,22,"Mar 31, 2000",The Road to El Dorado,"$95,000,000","$50,802,661","$65,700,000"
22,23,"Dec 11, 2009",The Lovely Bones,"$95,000,000","$44,114,232","$94,894,448"
23,24,"Aug 19, 2016",Ben-Hur,"$95,000,000","$26,410,477","$91,669,648"
24,25,"Feb 6, 2015",Seventh Son,"$95,000,000","$17,725,785","$108,874,967"
25,26,"May 30, 2003",Finding Nemo,"$94,000,000","$380,529,370","$936,429,370"
26,27,"Dec 17, 2003",The Lord of the Rings: The Return of the King,"$94,000,000","$377,845,905","$1,141,403,341"
27,28,"Dec 18, 2002",The Lord of the Rings: The Two Towers,"$94,000,000","$342,548,984","$934,699,645"
28,29,"Jun 15, 2001",Lara Croft: Tomb Raider,"$94,000,000","$131,144,183","$273,330,185"
29,30,"Feb 13, 2015",Kingsman: The Secret Service,"$94,000,000","$128,261,724","$404,561,724"
...,...,...,...,...,...,...
70,71,"Mar 16, 2018",Tomb Raider,"$90,000,000","$58,250,803","$273,477,501"
71,72,"Dec 17, 1999",Bicentennial Man,"$90,000,000","$58,220,776","$87,420,776"
72,73,"Jul 7, 2004",King Arthur,"$90,000,000","$51,877,963","$203,877,963"
73,74,"Apr 25, 1997",Volcano,"$90,000,000","$47,546,796","$120,100,000"
74,75,"Mar 26, 1997",The Devil's Own,"$90,000,000","$42,885,593","$140,900,000"
75,76,"Jul 19, 2002",K-19: The Widowmaker,"$90,000,000","$35,168,966","$65,716,126"
76,77,"Aug 19, 2011",Conan the Barbarian,"$90,000,000","$21,295,021","$63,356,133"
77,78,"Oct 21, 2011",The Three Musketeers,"$90,000,000","$20,377,913","$139,877,913"
78,79,"Apr 21, 2017",The Promise,"$90,000,000","$8,224,288","$10,551,417"
79,80,"Nov 24, 2010",The Nutcracker in 3D,"$90,000,000","$195,459","$20,466,016"
80,81,"Dec 13, 2017",Bright,"$90,000,000",$0,$0
81,82,"Dec 31, 2019",Army of the Dead,"$90,000,000",$0,$0
82,83,"May 10, 1996",Twister,"$88,000,000","$241,688,385","$495,700,000"
83,84,"Jun 3, 2005",Cinderella Man,"$88,000,000","$61,649,911","$105,021,488"
84,85,"Sep 14, 2018",The Predator,"$88,000,000","$51,024,708","$159,487,563"
85,86,"Jul 8, 2005",Fantastic Four,"$87,500,000","$154,696,080","$333,132,750"
86,87,"Feb 9, 2001",Hannibal,"$87,000,000","$165,092,266","$350,100,280"
87,88,"Jul 25, 2003",Seabiscuit,"$86,000,000","$120,277,854","$148,715,342"
88,89,"Dec 22, 2000",Cast Away,"$85,000,000","$233,632,142","$427,230,516"
89,90,"Nov 17, 2006",Happy Feet,"$85,000,000","$198,000,317","$385,000,317"
90,91,"Dec 7, 2001",Ocean's Eleven,"$85,000,000","$183,417,150","$450,728,529"
91,92,"Jul 23, 2004",The Bourne Supremacy,"$85,000,000","$176,087,450","$311,001,124"
92,93,"Jul 25, 1997",Air Force One,"$85,000,000","$172,956,409","$315,268,353"
93,94,"Apr 3, 2009",Fast & Furious,"$85,000,000","$155,064,265","$363,064,265"
94,95,"Mar 14, 2008",Horton Hears a Who,"$85,000,000","$154,529,439","$299,477,886"
95,96,"Mar 21, 2014",Divergent,"$85,000,000","$150,947,895","$276,014,965"
96,97,"Sep 28, 2012",Hotel Transylvania,"$85,000,000","$148,313,048","$378,505,812"
97,98,"Apr 5, 2019",Shazam!,"$85,000,000","$139,974,535","$363,267,412"
98,99,"Nov 21, 2007",Enchanted,"$85,000,000","$127,706,877","$340,384,141"
99,100,"Feb 10, 2012",Safe House,"$85,000,000","$126,181,630","$208,542,162"