# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [3]:
!pwd
!ls -al

/Users/enkeboll/code/fis/dc_ds_06_03_19/module_1/week_2/day_1_manipulating_data_pandas
total 104
drwxr-xr-x  10 enkeboll  staff    320 Jun 10 10:16 .
drwxr-xr-x   4 enkeboll  staff    128 Jun 10 09:44 ..
-rw-r--r--@  1 enkeboll  staff   6148 Jun 10 10:06 .DS_Store
drwxr-xr-x   3 enkeboll  staff     96 Jun 10 10:16 .ipynb_checkpoints
-rw-r--r--   1 enkeboll  staff     95 Apr 24 12:24 ds_chars.csv
-rw-r--r--   1 enkeboll  staff  11328 Apr 24 12:24 heart.csv
drwxr-xr-x   4 enkeboll  staff    128 Apr 24 12:24 images
-rw-r--r--   1 enkeboll  staff  17384 Jun 10 10:16 manipulating_data_with_pandas.ipynb
-rw-r--r--   1 enkeboll  staff   3297 Apr 24 12:24 pre_process_animal_shelter_data.py
-rw-r--r--   1 enkeboll  staff    130 Apr 24 12:24 states.csv

In [1]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [2]:
def myFunc(x): return x+1

In [5]:
uci.head()  # comments

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [18]:
uci.columns = uci.columns.str.lower()

In [19]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [29]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [34]:
uci_new = uci.copy()
uci_new['str_col'] = 'B'

In [36]:
uci_new.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,str_col
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,B
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,B
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,B
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,B
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,B

In [38]:
# Call the .describe() method on our dataset. What do you observe?

uci_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
str_col     303 non-null object
dtypes: float64(1), int64(13), object(1)
memory usage: 35.6+ KB

In [40]:
import numpy as np

In [39]:
# Use the code below. How does the output differ from info() ?
uci_new.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
str_col      object
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [46]:
uci.ca.count()

303

In [49]:
None == None

True

In [52]:
type(np.NaN)

float

In [54]:
a = np.NaN
b = np.NaN
a is b

True

In [55]:
np.NaN is np.NaN

True

In [60]:
pd.isna(uci.ca).all()

False

#### The Axis Variable

In [66]:
uci.sum(axis=1) # Try [shift] + [tab] here!

0      600.3
1      614.5
2      554.4
3      598.8
4      701.6
5      542.4
6      649.3
7      609.0
8      596.5
9      559.6
10     601.2
11     600.2
12     624.6
13     539.8
14     663.0
15     555.6
16     698.0
17     565.6
18     619.5
19     611.8
20     596.5
21     596.4
22     593.0
23     602.0
24     570.4
25     704.4
26     589.6
27     468.6
28     788.8
29     540.2
       ...
273    556.1
274    557.0
275    567.0
276    536.0
277    591.3
278    673.0
279    499.6
280    624.8
281    546.0
282    547.2
283    603.0
284    555.9
285    627.8
286    570.8
287    614.0
288    656.0
289    528.0
290    581.0
291    641.4
292    607.8
293    588.8
294    483.8
295    547.0
296    525.0
297    496.0
298    567.2
299    561.2
300    558.4
301    442.2
302    602.0
Length: 303, dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [83]:
uci.age.value_counts()[

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for `restecg`?

In [91]:
# Your code here!
set(uci.restecg)

{0, 1, 2}

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [2]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [92]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101475 entries, 0 to 101474
Data columns (total 12 columns):
Animal ID           101475 non-null object
Name                69834 non-null object
DateTime            101475 non-null object
MonthYear           101475 non-null object
Date of Birth       101475 non-null object
Outcome Type        101468 non-null object
Outcome Subtype     46103 non-null object
Animal Type         101475 non-null object
Sex upon Outcome    101473 non-null object
Age upon Outcome    101455 non-null object
Breed               101475 non-null object
Color               101475 non-null object
dtypes: object(12)
memory usage: 9.3+ MB

In [93]:
animal_outcomes.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [95]:
# What are the breed value_counts?
animal_outcomes.Breed.value_counts()

Domestic Shorthair Mix                               29574
Pit Bull Mix                                          7849
Labrador Retriever Mix                                6111
Chihuahua Shorthair Mix                               5941
Domestic Medium Hair Mix                              2971
German Shepherd Mix                                   2667
Bat Mix                                               1741
Domestic Longhair Mix                                 1475
Australian Cattle Dog Mix                             1334
Siamese Mix                                           1189
Dachshund Mix                                          966
Bat                                                    934
Domestic Shorthair                                     893
Boxer Mix                                              865
Border Collie Mix                                      840
Miniature Poodle Mix                                   789
Siberian Husky Mix                                     606
Catahoula Mix                                          605
Australian Shepherd Mix                                599
Staffordshire Mix                                      591
Rat Terrier Mix                                        585
Yorkshire Terrier Mix                                  579
Raccoon Mix                                            535
Jack Russell Terrier Mix                               515
Beagle Mix                                             514
Miniature Schnauzer Mix                                510
Great Pyrenees Mix                                     505
Chihuahua Longhair Mix                                 465
Cairn Terrier Mix                                      459
Pointer Mix                                            441
                                                     ...
Miniature Poodle/Italian Greyhound                       1
Whippet/Catahoula                                        1
Black Mouth Cur/American Staffordshire Terrier           1
Snake/Python                                             1
Chihuahua Longhair/Greyhound                             1
Australian Shepherd/Standard Poodle                      1
English Bulldog/Pit Bull                                 1
Beagle/American Foxhound                                 1
Staffordshire/Basset Hound                               1
Vizsla/Pointer                                           1
Rat Terrier/Miniature Pinscher                           1
American Staffordshire Terrier/Chinese Sharpei           1
Labrador Retriever/American Staffordshire Terrier        1
Anatol Shepherd/Saluki                                   1
Dachshund Longhair/Miniature Poodle                      1
Whippet/Borzoi                                           1
Catahoula/American Bulldog                               1
Australian Kelpie/Shiba Inu                              1
American Wirehair Mix                                    1
Chow Chow/English Cocker Spaniel                         1
Boxer/Akita                                              1
German Shepherd/German Shepherd                          1
Doberman Pinsch/Vizsla                                   1
Cardigan Welsh Corgi/Cardigan Welsh Corgi                1
Jindo/Shiba Inu                                          1
Australian Shepherd/Collie Smooth                        1
Golden Retriever/Bearded Collie                          1
American Pit Bull Terrier/Weimaraner                     1
Chow Chow/Border Collie                                  1
Dachshund/Havanese                                       1
Name: Breed, Length: 2415, dtype: int64

In [111]:
# What's the top breed for adopted dogs?
(animal_outcomes.loc[(animal_outcomes['Outcome Type'] == 'Adoption')
                     & (animal_outcomes['Animal Type'] == 'Dog')]
                   .Breed
                   .value_counts()[:10])

Labrador Retriever Mix       3080
Pit Bull Mix                 3037
Chihuahua Shorthair Mix      2840
German Shepherd Mix          1345
Australian Cattle Dog Mix     745
Dachshund Mix                 472
Border Collie Mix             451
Boxer Mix                     398
Catahoula Mix                 327
Staffordshire Mix             321
Name: Breed, dtype: int64

In [115]:
# How about outcome counts for dogs?
animal_outcomes[animal_outcomes['Animal Type'] == 'Dog']['Outcome Type'].value_counts()

Adoption           26872
Return to Owner    16545
Transfer           12455
Euthanasia          1623
Rto-Adopt            326
Died                 202
Missing               20
Disposal              11
Name: Outcome Type, dtype: int64

In [105]:
type(animal_outcomes.loc)

pandas.core.indexing._LocIndexer

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [ ]:
def successor(x):
    return x + 1

In [ ]:
uci.applymap(successor).head()

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [ ]:
uci['age'].map(successor).tail(10)

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci['oldpeak'].map(lambda x: round(x))[:4]

Exercise: Use an anonymous function to turn the entries in age to strings

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [ ]:
# Your code here

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'sex', columns = 'target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here